<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>时间：<span th:text="${#dates.format(date,'yyyy-MM-dd HH:mm:ss')}"></span></h1>
    <h1>金钱：<span th:text="'￥'+${#numbers.formatDecimal(price,1,2)}"></span></h1>
    <h1>字符串：<span th:text="${#strings.abbreviate(str1,10)}"></span></h1>
    <!--截取字符串-->
    <h2>截取：<span th:text="${#strings.substring(str2,0,6)}"></span></h2>
    <!--判断字符串是否为空-->
    <h2 th:if="${#strings.isEmpty(str2)}">为空</h2>
</body>
</html>