<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>用户id</td>
            <td>用户名称</td>
            <td>用户年龄</td>
        </tr>
        <!--interStart是状态变量 名称自定义-->
        <tr th:each="user,interStart:${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${interStart.index}"></td>
            <td th:text="${interStart.count}"></td>
            <td th:text="${interStart.size}"></td>
            <td th:text="${interStart.current}"></td>
            <td th:text="${interStart.even}"></td>
            <td th:text="${interStart.odd}"></td>
        </tr>
    </table>
</body>
</html>