<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>用户id</td>
            <td>用户名称</td>
            <td>用户年龄</td>
        </tr>
        <!--iterStat称作状态变量 名称可自定义-->
        <tr th:each="user,iterStat:${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <!--当前迭代对象的index（从0开始）-->
            <td th:text="${iterStat.index}"></td>
            <!--当前迭代对象的index（从1开始）-->
            <td th:text="${iterStat.count}"></td>
            <!--被迭代对象的大小，即集合的size-->
            <td th:text="${iterStat.size}"></td>
            <!--当前迭代变量-->
            <td th:text="${iterStat.current}"></td>
            <!--布尔值，当前循环是否为偶数（从0开始）-->
            <td th:text="${iterStat.even}"></td>
            <!--布尔值，当前循环是否为偶数（从0开始）-->
            <td th:text="${iterStat.odd}"></td>
            <!--布尔值，当前循环是否是第一个-->
            <td th:text="${iterStat.first}"></td>
            <!--布尔值，当前循环是否是最后一个-->
            <td th:text="${iterStat.last}"></td>
        </tr>
    </table>
</body>
</html>